#header{
background:#ffff4d;
width:60%;

}
image
{
width:40%;
padding:15px;
float:right
}
doha{
background:#bfbfbf;
overflow:scroll;
width:33%;
height:15cm;
float:right;
padding=10px;
}
kavita{
background:#bfbfbf;
overflow:scroll;
width:33%;
height:15cm;
float:right;
padding=10px;
}
achievement{
background:#bfbfbf;
overflow:scroll;
width:33%;
height:15cm;
float:right;
padding=10px;
}
footer{
background:#3333ff;
padding=15px;
}
